<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assetHomeLayout/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="~/assetHomeLayout/css/font-awesome.css">

    <link rel="stylesheet" href="~/assetHomeLayout/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/assetHomeLayout/css/owl-carousel.css">

    <link rel="stylesheet" href="~/assetHomeLayout/css/lightbox.css">
</head>
<body>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="~/assetHomeLayout/images/LogoTH.jpg">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
                            <li class="scroll-to-section"><a href="#kids">Kid's</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>

                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                            <li class="scroll-to-section">
                                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                                <button type="button" class="btn btn-outline-primary me-2">Sign up</button>
                            </li>

                        </ul>



                        <!-- ***** Menu End ***** -->
                    </nav>

                </div>
            </div>


        </div>
    </header>

    <div class="form_login" style="padding : 200px">
        @RenderBody()
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Username </label>
                <input type="text" class="form-control" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Enter Username">

            </div>


            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmpassword">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>

    </div>
    <footer>
    </footer>
</body>
</html>
